.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-color: #f4f7fc;
  font-family: monospace;
  padding: 1rem;
}

.authForm {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.authForm h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.formGroup input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.authButton {
  width: 100%;
  padding: 1rem;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.authButton:hover {
  background-color: #005bb5;
}

p {
  text-align: center;
  margin-top: 1rem;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


@media (max-width: 480px) {
  .authForm {
    padding: 1.5rem;
  }

  .authButton {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .formGroup input {
    padding: 0.7rem;
  }
}
